<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-header"/>

<body>
<section id="container" class="">
	<div th:replace="common/head :: navbar" />
	<div th:replace="common/head :: sibebar" />
<section id="main-content">
<section class="wrapper">

<!-- Main Section Starts -->
	    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fas fa-info-circle"></i> <strong>User Details</strong></h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a th:href="@{/}">Home</a></li>
                <li><i class="fas fa-user-astronaut"></i><a th:href="@{/customer/customers?type=all}">All Users</a></li>
                <li><i class="fas fa-info-circle" aria-hidden="true"></i>User Details</li>
            </ol>
        </div>
    </div>
<!-- Start -->


	
		<div class="table-responsive">
			<div class="col-md-10 col-md-offset-1">

<div class="col-md-12 border-all">

<div class="col-md-4">
	<a th:href="@{/customer/updateCustomer?id=}+${customer.id}" style="float: left;" class="btn btn-default">Edit User</a>
</div>
<div class="col-md-4">
	<a th:href="@{/customer/updatePassword?id=}+${customer.id}" style="float: center;" class="btn btn-danger">Change Password</a>
</div>
<div class="col-md-4">
	<a th:href="@{/customer/deactivateCustomer?id=}+${customer.id}" style="float: right;" class="btn btn-default"><span th:if="${customer.enabled}">Deactivate</span><span th:if="!${customer.enabled}">Activate</span></a>
</div>
<div class="col-md-12 text-center user-bar">
	<h3>
	<i class="fas fa-user-astronaut" style="color:#337ab7;"></i>
	<strong>
	<span id="orderedDate" th:text="${customer.firstName}"></span> 
	<span id="orderedDate" th:text="${customer.lastName}"></span>
	</strong>
	</h3>
</div>
<br/><br/>
<div th:if="${success}" class="col-md-12 alert alert-success">
	User profile <span th:if="${customer.enabled}">activated</span><span th:if="!${customer.enabled}">deactivated</span>
</div>
<div class="col-md-6">
<p><strong>User #<span th:text="${customer.id}"></span></strong></p>
<p><strong>User Role:</strong> <span id="orderedDate" th:text="${customer.userType}"></span></p>
<p><strong>Gender:</strong> <span id="orderedDate" th:text="${customer.gender}"></span></p>
<p><strong>DOB:</strong> <span id="orderedDate" th:text="${customer.Dob}"></span></p>
<p><strong>Username:</strong> <span id="orderedDate" th:text="${customer.username}"></span></p>
<p><strong>Email:</strong> <span id="orderedDate" th:text="${customer.email}"></span></p>
<p><strong>Phone:</strong> <span id="orderedDate" th:text="${customer.phone}"></span></p>
</div>

<div class="col-md-6">
<p><strong>User Preferences:</strong> <span id="orderedDate" th:text="${customer.userPreferences}"></span></p>
<p><strong>Enabled:</strong> <span id="orderedDate" th:text="${customer.enabled}"></span></p>
<p><strong>Account Status:</strong> <span id="orderedDate" th:text="${customer.accountStatus}"></span></p>

<p><strong>Mailing Address:</strong></p>
<p><span id="orderedDate" th:text="${customer.mailingStreet1}"></span> ,
<span id="orderedDate" th:text="${customer.mailingStreet2}"></span></p>
<p><span id="orderedDate" th:text="${customer.mailingCity}"></span> <span id="orderedDate" th:text="${customer.mailingState}"></span> - 
<span id="orderedDate" th:text="${customer.mailingZipcode}"></span></p>
<p><span id="orderedDate" th:text="${customer.mailingCountry}"></span></p>

</div>

</div>
</div>
</div>
<br/><br/>
<div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="panel panel-primary">
							<div class="panel-heading">
								<h4 class="panel-title text-center" style="background:#5dc3e7;">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#shippingInfo">Additional Details</a>
								</h4>
							</div>
							<div id="shippingInfo" class="panel-collapse collapse">
							<div class="panel-body">
								<span>Placeholder for associated shopping cart, order details, addresses</span>
							</div>
					</div>
				</div>
</div>
</div>

		
			
	
	
	
	<!-- End -->
</section>

</section></section>
	<div th:replace="common/head :: body-bottom-scripts" />

</body>
</html>
