<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-header"/>
<body>

<section id="container" class="">
	<div th:replace="common/head :: navbar" />
	<div th:replace="common/head :: sibebar" />
<section id="main-content">
<section class="wrapper">

<!-- Main Section Starts -->
	    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fas fa-unlock-alt"></i> UPDATE PASSWORD</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a th:href="@{/}">Home</a></li>
                <li><i class="fas fa-user-astronaut" aria-hidden="true"></i><a th:href="@{/customer/customerInfo?id=}+${customer.id}" th:text="${customer.username}"></a></li>
                <li><i class="fas fa-unlock-alt"></i>Update Password</li>
            </ol>
        </div>
    </div>
  <div class="col-md-12 border-all">  
<div class="col-md-4">
	<a th:href="@{/customer/customerInfo?id=}+${customer.id}" style="float: left;" class="btn btn-danger">Back</a>
</div>
<div class="col-md-4">
	<a th:href="@{/customer/updateCustomer?id=}+${customer.id}" style="float: center;" class="btn btn-default">Edit User</a>
</div>
<div class="col-md-4">
	<a th:href="@{/customer/deactivateCustomer?id=}+${customer.id}" style="float: right;" class="btn btn-default"><span th:if="${customer.enabled}">Deactivate</span><span th:if="!${customer.enabled}">Activate</span></a>
</div>
<div class="col-md-7 col-md-offset-2 text-center user-bar">
	
	<h3>
	<i class="fas fa-user-astronaut" style="color:#337ab7;"></i>
	<strong><span>Update </span>
	<span id="orderedDate" th:text="${customer.firstName}"></span> 
	<span id="orderedDate" th:text="${customer.lastName}"></span>'s
	<span>Password</span>
	</strong>
	</h3>
</div>
</div>
<div class="col-md-12 border-all">
	<form class="form-horizontal" th:action="@{/customer/updatePassword}"
				method="post" enctype="multipart/form-data">
				<fieldset>
		<div class="col-md-7 col-md-offset-2">
				<!-- Start -->
				
					<div th:if="${success}" class="alert alert-success">
						<span th:text="${customer.firstName}"></span> password is now updated
					</div>
					<div th:if="${emptyPassword}" class="alert alert-danger">
						<span th:if="${emptyPassword}">Password Fields cannot be left empty</span>
					</div>
					<div th:if="${unmatchedPassword}" class="alert alert-danger">
						<span th:if="${unmatchedPassword}">Password not matched</span>
					</div>
					<input hidden="hidden" name="id" th:value="${customer.id}"/>

					<div class="form-group">
					<div class="row">
					<div class="col-md-12">
						<p><strong>User #<span th:text="${customer.id}"></span></strong></p>
					</div>
					<div class="col-md-6">
						<label for="newPassword">Password</label>
						
							<input type="password" name="newPassword" class="form-control" id="newPassword"
								required="required"
								placeholder="Password" /> 
						
					</div>
						
					<div class="col-md-6">
						<label for="retypePassword">Re-type Password</label>
							<input type="password" name="retypePassword" class="form-control" id="retypePassword"
								required="required"
								placeholder="Re-type Password" /> 
						
					</div>
					
					
					</div>
					</div>
			
				
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8 text-center">
							<button type="submit" class="btn btn-success">Save</button>
							<a class="btn btn-danger" th:href="@{/customer/customerInfo?id=}+${customer.id}">Cancel</a>
						</div>
					</div>	
</div>
		
		</fieldset>
		</form>

</div>
<!-- End -->
</section>

</section></section>
	<div th:replace="common/head :: body-bottom-scripts" />
</body>
</html>
 